# Bonus: Temperature Analysis I

In [20]:
import pandas as pd
from datetime import datetime as dt

In [21]:
# "tobs" is "temperature observations"
hawaii_data_df = pd.read_csv('Resources/hawaii_measurements.csv')
hawaii_data_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [22]:
# Convert the date column format from string to datetime
hawaii_data_df['date']= pd.to_datetime(hawaii_data_df[], infer_datetime_format=True)
hawaii_data_df

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [23]:
# Set the date column as the DataFrame index
hawaii_data_df = hawaii_data_df.set_index(hawaii_data_df['date'])
hawaii_data_df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [25]:
# Drop the date column
hawaii_data_df = hawaii_data_df.drop(columns='date')
hawaii_data_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [26]:
from scipy import stats

In [40]:
# Filter data for desired months
june_data = hawaii_data_df[hawaii_data_df.index.month == 6]

dec_data =  hawaii_data_df[hawaii_data_df.index.month == 12]

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [47]:
# Identify the average temperature for June
june_temp_avg = june_data["tobs"].mean()
print(f'Average temperature in June accross all stations: {june_temp_avg}')

Average temperature in June accross all stations: 74.94411764705882

In [43]:
# Identify the average temperature for December
dec_temp_avg = dec_data["tobs"].mean()
print(f'Average temperature in December accross all stations: {dec_temp_avg}')

Average temperature in December accross all stations: 71.04152933421226

In [50]:
# Create collections of temperature data
june_temp = june_data["tobs"]
june_temp

date
2010-06-01    78
2010-06-02    76
2010-06-03    78
2010-06-04    76
2010-06-05    77
              ..
2017-06-26    79
2017-06-27    74
2017-06-28    74
2017-06-29    76
2017-06-30    75
Name: tobs, Length: 1700, dtype: int64

In [51]:
dec_temp = dec_data["tobs"]
dec_temp

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [53]:
# Run paired t-test
stats.ttest_ind(june_temp, dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis